@font-face {
    font-family: 'Al-Jazeera-Arabic';
    src: url('Al-Jazeera-Arabic-Regular.woff2') format('woff2'),
        url('Al-Jazeera-Arabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

